In [1]:
import pandas as pd
import numpy as np
import glob
import re

In [2]:
raw_dir = '../data/raw'

In [3]:
source_files = pd.DataFrame({'file_path' : sorted(glob.glob(f'{raw_dir}/*.xlsx'))})

In [4]:
source_files['variable_type'] = \
    source_files['file_path'] \
        .replace('../data/raw/[0-9][a-z] - ', '', regex=True) \
            .replace('.xlsx', '', regex=True).replace('\W{1,}', '_', regex=True) \
                .str.lower()

In [31]:
dfs = {}
for i in source_files.index:
    dfs[source_files.loc[i,'variable_type']] =  pd.read_excel(source_files.loc[i,'file_path'])

/Users/brentbaker/opt/miniconda3/envs/coffee_market_analysis/lib/python3.10/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
/Users/brentbaker/opt/miniconda3/envs/coffee_market_analysis/lib/python3.10/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [32]:
dfs.keys()

dict_keys(['total_production', 'domestic_consumption', 'gross_opening_stocks', 'exports_crop_year', 'exports_calendar_year', 'imports', 're_exports', 'prices_paid_to_growers', 'retail_prices', 'indicator_prices', 'non_member_imports', 'non_member_re_exports'])

In [33]:
x = dfs['total_production']
x.columns = x.iloc[2, :]
x = x.iloc[3:66, 0:32]
x = x.dropna(how='all')
x = x.drop(columns=x.columns[1])
filter_rows = x.iloc[:,0].str.match('(.*group|Total)')
x = x.loc[~filter_rows]
x.rename(columns={'Crop year' : 'country'}, inplace=True)
x = x.melt(id_vars='country', var_name = 'crop_year', value_name='total_production_1k_bags')
x['total_production_1k_bags'] = x['total_production_1k_bags'].astype('float', errors='ignore')
x['total_production_kg'] = x['total_production_1k_bags'] * 1000 * 60
x['total_production_lb'] = x['total_production_kg'] * 2.20462262185
dfs['total_production'] = x

In [34]:
x = dfs['domestic_consumption']
x.columns = x.iloc[2, :]
x = x.iloc[3:66, 0:32]
x = x.dropna(how='all')
x = x.drop(columns=x.columns[1])
filter_rows = x.iloc[:,0].str.match('(.*group|Total)')
x = x.loc[~filter_rows]
x.rename(columns={'Crop year' : 'country'}, inplace=True)
x = x.melt(id_vars='country', var_name = 'crop_year', value_name='total_consumption_1k_bags')
x['total_consumption_1k_bags'] = x['total_consumption_1k_bags'].astype('float', errors='ignore')
x['total_consumption_kg'] = x['total_consumption_1k_bags'] * 1000 * 60
x['total_consumption_lb'] = x['total_consumption_kg'] * 2.20462262185
dfs['domestic_consumption'] = x

In [35]:
x = dfs['gross_opening_stocks']
x.columns = x.iloc[2, :]
x = x.iloc[3:66, 0:32]
x = x.dropna(how='all')
x = x.drop(columns=x.columns[1])
filter_rows = x.iloc[:,0].str.match('(.*group|Total)')
x = x.loc[~filter_rows]
x.rename(columns={'Crop years' : 'country'}, inplace=True)
x = x.melt(id_vars='country', var_name = 'crop_year', value_name='gross_opening_stock_1k_bags')
x['gross_opening_stock_1k_bags'] = x['gross_opening_stock_1k_bags'].astype('float', errors='ignore')
x['gross_opening_stock_kg'] = x['gross_opening_stock_1k_bags'] * 1000 * 60
x['gross_opening_stock_lb'] = x['gross_opening_stock_kg'] * 2.20462262185
dfs['gross_opening_stocks'] = x

In [36]:
x = dfs['exports_crop_year']
x.columns = x.iloc[2, :]
x = x.iloc[3:66, 0:32]
x = x.dropna(how='all')
x = x.drop(columns=x.columns[1])
filter_rows = x.iloc[:,0].str.match('(.*group|Total)')
x = x.loc[~filter_rows]
x.rename(columns={'Crop year' : 'country'}, inplace=True)
x = x.melt(id_vars='country', var_name = 'crop_year', value_name='total_exports_1k_bags')
x['total_exports_1k_bags'] = x['total_exports_1k_bags'].astype('float', errors='ignore')
x['total_exports_kg'] = x['total_exports_1k_bags'] * 1000 * 60
x['total_exports_lb'] = x['total_exports_kg'] * 2.20462262185
dfs['exports_crop_year'] = x

In [41]:
x = dfs['exports_calendar_year']
x.columns = x.iloc[2, :]
x = x.iloc[3:60, 0:32]
x = x.dropna(how='all')
x = x.drop(columns=x.columns[1])
filter_rows = x.iloc[:,0].str.match('(.*group|Total)')
x = x.loc[~filter_rows]
x.rename(columns={'Calendar years' : 'country'}, inplace=True)
x = x.melt(id_vars='country', var_name = 'calendar_year', value_name='total_exports_1k_bags')
x['total_exports_1k_bags'] = x['total_exports_1k_bags'].astype('float', errors='ignore')
x['total_exports_kg'] = x['total_exports_1k_bags'] * 1000 * 60
x['total_exports_lb'] = x['total_exports_kg'] * 2.20462262185
dfs['exports_calendar_year'] = x

In [44]:
x = dfs['imports']
x.columns = x.iloc[2, :]
x = x.iloc[3:43, 0:32]
x = x.dropna(how='all')
x = x.drop(columns=x.columns[1])
filter_rows = x.iloc[:,0].str.match('(.*group|Total)')
x = x.loc[~filter_rows]
x.rename(columns={'Calendar years' : 'country'}, inplace=True)
x = x.melt(id_vars='country', var_name = 'calendar_year', value_name='total_imports_1k_bags')
x['total_imports_1k_bags'] = x['total_imports_1k_bags'].astype('float', errors='ignore')
x['total_imports_kg'] = x['total_imports_1k_bags'] * 1000 * 60
x['total_imports_lb'] = x['total_imports_kg'] * 2.20462262185
dfs['imports'] = x

In [46]:
x = dfs['re_exports']
x.columns = x.iloc[2, :]
x = x.iloc[3:43, 0:32]
x = x.dropna(how='all')
x = x.drop(columns=x.columns[1])
filter_rows = x.iloc[:,0].str.match('(.*group|Total)')
x = x.loc[~filter_rows]
x.rename(columns={'Calendar years' : 'country'}, inplace=True)
x = x.melt(id_vars='country', var_name = 'calendar_year', value_name='total_re_exports_1k_bags')
x['total_re_exports_1k_bags'] = x['total_re_exports_1k_bags'].astype('float', errors='ignore')
x['total_re_exports_kg'] = x['total_re_exports_1k_bags'] * 1000 * 60
x['total_re_exports_lb'] = x['total_re_exports_kg'] * 2.20462262185
dfs['re_exports'] = x

In [51]:
x = dfs['prices_paid_to_growers']
x.columns = x.iloc[2, :]
x = x.iloc[3:76, 0:28]
x = x.dropna(how='all')
x = x.drop(columns=x.columns[1])
filter_rows = x.iloc[:,0].str.match('(.*Milds|Total)')
x = x.loc[~filter_rows]
x.rename(columns={'Calendar years' : 'country'}, inplace=True)
x = x.melt(id_vars='country', var_name = 'calendar_year', value_name='price_paid_cents_per_lb')
x['price_paid_cents_per_lb'] = x['price_paid_cents_per_lb'].astype('float', errors='ignore')
x['price_paid_dollars_per_lb'] = x['price_paid_cents_per_lb'] * 100
dfs['prices_paid_to_growers'] = x

In [137]:
x = dfs['indicator_prices']
x.columns = x.iloc[2, :]
x = x.iloc[3:424, 0:6]
x = x.dropna(how='all')
x.columns = x.columns.fillna('calendar_month').str.replace('\\n', '', regex=True).str.replace(' ', '_', regex=True).str.lower()
x = x.melt(id_vars='calendar_month', var_name='indicator_name', value_name='indicator_price_cents_per_lb')
x['indicator_price_cents_per_lb'] = x['indicator_price_cents_per_lb'].astype('float', errors = 'ignore')
x['indicator_price_dollars_per_lb'] = x['indicator_price_cents_per_lb'] * 100
year_rows = x['calendar_month'].astype('str').str.match(r'[0-9]{4}')
x['calendar_year'] = np.where(year_rows, x['calendar_month'], np.NaN)
x['calendar_year'] = x['calendar_year'].fillna(method='ffill')
avg_annual = x[year_rows].drop(columns='calendar_month')
x = x[~year_rows]
x = x.merge(avg_annual, how = 'left', on = 'calendar_year', suffixes=['', '_avg'])
x = x[['calendar_year','calendar_month','indicator_name','indicator_price_cents_per_lb','indicator_price_dollars_per_lb',
'indicator_name_avg','indicator_price_cents_per_lb_avg','indicator_price_dollars_per_lb_avg']]
dfs['indicator_prices'] = x

In [138]:
non_member_imports

,calendar_year,calendar_month,indicator_name,indicator_price_cents_per_lb,indicator_price_dollars_per_lb,indicator_name_avg,indicator_price_cents_per_lb_avg,indicator_price_dollars_per_lb_avg
0,1990,January,ico_composite_indicator,62.75,6275.0,ico_composite_indicator,71.53,7153.0
1,1990,January,ico_composite_indicator,62.75,6275.0,colombian_milds,96.53,9653.0
2,1990,January,ico_composite_indicator,62.75,6275.0,other_milds,89.46,8946.0
3,1990,January,ico_composite_indicator,62.75,6275.0,brazilian_naturals,82.97,8297.0
4,1990,January,ico_composite_indicator,62.75,6275.0,robustas,53.60,5360.0
...,...,...,...,...,...,...,...,...
8995,2019,December,robustas,73.22,7322.0,ico_composite_indicator,100.52,10052.0
8996,2019,December,robustas,73.22,7322.0,colombian_milds,133.60,13360.0
8997,2019,December,robustas,73.22,7322.0,other_milds,130.66,13066.0
8998,2019,December,robustas,73.22,7322.0,brazilian_naturals,101.53,10153.0
8999,2019,December,robustas,73.22,7322.0,robustas,73.56,7356.0

In [176]:
x = dfs['non_member_imports']
x.columns = x.iloc[2, :]
x = x.iloc[3:129, 0:32]
x = x.dropna(how='all')
x = x.drop(columns=x.columns[1])
x.rename(columns={'Calendar years' : 'country'}, inplace=True)
x = x.melt(id_vars='country', var_name = 'calendar_year', value_name='total_imports_1k_bags')
x['total_imports_1k_bags'] = x['total_imports_1k_bags'].astype('float', errors='ignore')
x['total_imports_kg'] = x['total_imports_1k_bags'] * 1000 * 60
x['total_imports_lb'] = x['total_imports_kg'] * 2.20462262185
agg_rows = ['Africa','Asia & Oceania','Caribbean','Central America & Mexico','Europe','North America','South America']
agg_rows = x.iloc[:,0].isin(agg_rows)
agg_df = x.loc[agg_rows]
tot_rows = ['Total']
tot_rows = x.iloc[:,0].isin(tot_rows)
tot_df = x.loc[tot_rows]
x = x.loc[~(agg_rows|tot_rows)]
x
agg_df
tot_df.drop(columns='country')

     calendar_year  total_imports_1k_bags  total_imports_kg  total_imports_lb
117         1991.0           12893.476899      7.736086e+08      1.705515e+09
235         1992.0           12068.577134      7.241146e+08      1.596399e+09
353         1993.0           12093.321345      7.255993e+08      1.599673e+09
471         1994.0           12780.722877      7.668434e+08      1.690600e+09
589         1995.0           11347.345783      6.808407e+08      1.500997e+09
707         1996.0           12534.461275      7.520677e+08      1.658025e+09
825         1997.0           13368.978204      8.021387e+08      1.768413e+09
943         1998.0           13363.112235      8.017867e+08      1.767637e+09
1061        1999.0           15252.913107      9.151748e+08      2.017615e+09
1179        2000.0           15568.888941      9.341333e+08      2.059411e+09
1297        2001.0           16584.630134      9.950778e+08      2.193771e+09
1415        2002.0           17604.600997      1.056276e+09      2.328690e+09
1533        2003.0           17294.993889      1.037700e+09      2.287736e+09
1651        2004.0           19947.284878      1.196837e+09      2.638574e+09
1769        2005.0           19970.488453      1.198229e+09      2.641643e+09
1887        2006.0           20395.555068      1.223733e+09      2.697870e+09
2005        2007.0           22020.419179      1.321225e+09      2.912803e+09
2123        2008.0           23483.310982      1.408999e+09      3.106310e+09
2241        2009.0           23287.827122      1.397270e+09      3.080452e+09
2359        2010.0           25572.628259      1.534358e+09      3.382680e+09
2477        2011.0           26433.351420      1.586001e+09      3.496534e+09
2595        2012.0           27999.450879      1.679967e+09      3.703693e+09
2713        2013.0           29638.373922      1.778302e+09      3.920486e+09
2831        2014.0           30041.967851      1.802518e+09      3.973872e+09
2949        2015.0           31230.330297      1.873820e+09      4.131066e+09
3067        2016.0           32374.451646      1.942467e+09      4.282407e+09
3185        2017.0           34566.701611      2.074002e+09      4.572392e+09
3303        2018.0           35922.499116      2.155350e+09      4.751733e+09
3421        2019.0           38959.117522      2.337547e+09      5.153409e+09

In [149]:
x[x.country.isin(['Africa', 'North America', 'South America', 'Europe', 'Asia & Oceania''])]

,country,calendar_year,total_imports_1k_bags,total_imports_kg,total_imports_lb
0,Africa,1991.0,2875.796680,1.725478e+08,3.804028e+08
95,Europe,1991.0,1782.415015,1.069449e+08,2.357731e+08
110,North America,1991.0,2356.146011,1.413688e+08,3.116648e+08
112,South America,1991.0,748.614998,4.491690e+07,9.902481e+07
117,Africa,1992.0,2089.288034,1.253573e+08,2.763655e+08
...,...,...,...,...,...
3271,South America,2018.0,1061.199669,6.367198e+07,1.403727e+08
3276,Africa,2019.0,6748.363217,4.049018e+08,8.926557e+08
3371,Europe,2019.0,3644.238903,2.186543e+08,4.820503e+08
3386,North America,2019.0,5420.401980,3.252241e+08,7.169964e+08
3388,South America,2019.0,1172.203224,7.033219e+07,1.550559e+08

In [153]:
x1 = dfs['non_member_imports']

In [154]:
x1

2,Calendar years,1990.0,1991.0,1992.0,1993.0,1994.0,1995.0,1996.0,1997.0,1998.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,In thousand 60-kg bags,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Calendar years,1990.000000,1991.000000,1992.000000,1993.000000,1994.000000,1995.000000,1996.000000,1997.000000,1998.000000,...,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Africa,2088.255849,2875.796680,2089.288034,2633.887016,2717.154695,1919.688983,2306.021604,2700.410564,1750.498074,...,4652.604738,4498.675553,4972.613752,5816.431974,5243.275863,5545.898640,5878.616145,5255.728604,5867.783572,6748.363217
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,Suriname,1.937000,7.002000,2.928004,3.708001,3.459003,8.055002,7.690002,10.143003,11.176998,...,16.205103,15.900255,15.462447,18.593420,18.422537,16.166494,15.436162,9.703499,13.537548,9.714807
126,Uruguay,42.261001,30.190998,45.544001,32.313001,39.978000,38.922004,42.059002,41.978003,47.829002,...,61.693250,63.086148,59.815865,59.983143,59.113350,59.955796,55.147891,56.312835,56.841174,56.628101
127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,Total,12881.712270,12893.476899,12068.577134,12093.321345,12780.722877,11347.345783,12534.461275,13368.978204,13363.112235,...,25572.628259,26433.351420,27999.450879,29638.373922,30041.967851,31230.330297,32374.451646,34566.701611,35922.499116,38959.117522
129,© International Coffee Organization,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN